*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container{
    width: 480px;
    width: 480px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.smallBox{
    border: 1px solid darkgrey;
    background-color: grey;
}
